{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 100,
  "overrides": [
    {
      "files": "**/*.md",
      "options": {
        "printWidth": 55
      }
    }
  ]
}
